<%+ extend('layouts/index') %>
<!-- -->

<%+ section('body') %>
<!-- -->

<%- include('../partials/sidebar/agente'); -%>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Formulario cita</h1>
        </div>

        <!-- /.col -->
        <!--div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Seccion</a></li>
                  <li class="breadcrumb-item active">Seccion</li>
                </ol>
              </div-->
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->

  <section class="content">
    <div class="container-fluid">
      <!-- SELECT2 EXAMPLE -->
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Cliente</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row">
            <div class="card-body">
              <div class="form-group">
                <label>Cliente</label>
                <select class="form-control select2" style="width: 100%" name="id_cliente">
                  <option selected="selected">Alabama</option>
                  <option>Alaska</option>
                  <option>California</option>
                  <option>Delaware</option>
                  <option>Tennessee</option>
                  <option>Texas</option>
                  <option>Washington</option>
                </select>
              </div>
            </div>

            <!--div class="col-md-6">
                <div class="form-group">
              <label for="inputName">Razón:</label>
              <input type="text" id="inputName" class="form-control" />
            </div>
                <div class="form-group">
              <label for="inputName">CUIT:</label>
              <input type="text" id="inputName" class="form-control" />
            </div>
            <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                      </div>
                <!-- /.form-group -->
            <!--/div-->
            <!-- /.col -->
            <!--div class="col-md-6">
                    <div class="form-group">
              <label for="inputName">DNI:</label>
              <input type="text" id="inputName" class="form-control" />
            </div>
                <label>Fecha Nacimiento:</label>
                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate"/>
                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                 <label>Teléfono:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-phone"></i></span>
                    </div>
                    <input type="text" class="form-control" data-inputmask='"mask": "(999) 999-999"' data-mask>
                  </div>  
            </div-->
            <!-- /.col -->
          </div>
        </div>
      </div>
    </div>
    <!-- /.card -->
    <!--div class="row">
          <div class="col-md-6"-->
    <div class="row">
      <div class="col-md-12">
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Dia y hora para la cita</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <!-- Date -->
            <div class="form-group">
              <label>Fecha:</label>
              <div class="input-group date" id="reservationdateD" data-target-input="nearest">
                <input
                  type="text"
                  class="form-control datetimepicker-input"
                  data-target="#reservationdateD"
                />
                <div
                  class="input-group-append"
                  data-target="#reservationdateD"
                  data-toggle="datetimepicker"
                >
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
            <!-- time Picker -->
            <div class="bootstrap-timepicker">
              <div class="form-group">
                <label>Hora:</label>
                <div class="input-group date" id="timepicker" data-target-input="nearest">
                  <input
                    type="text"
                    class="form-control datetimepicker-input"
                    data-target="#timepicker"
                  />
                  <div
                    class="input-group-append"
                    data-target="#timepicker"
                    data-toggle="datetimepicker"
                  >
                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                  </div>
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->
            </div>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
      <!-- /.col (right) -->
      <!--/div>
      </div-->
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Agente inmobiliario y propiedad</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label>Agente inmobiliario</label>
              <select class="form-control select2" style="width: 100%" name="legajo_agente">
                <option selected="selected">Alabama</option>
                <option>Alaska</option>
                <option>California</option>
                <option>Delaware</option>
                <option>Tennessee</option>
                <option>Texas</option>
                <option>Washington</option>
              </select>
            </div>
            <!-- /.form-group -->
            <!-- /.form-group -->
            <div class="form-group">
              <label>Propiedad</label>
              <select class="form-control select2" style="width: 100%" name="codigo_inmueble">
                <option selected="selected">Alabama</option>
                <option>Alaska</option>
                <option>California</option>
                <option>Delaware</option>
                <option>Tennessee</option>
                <option>Texas</option>
                <option>Washington</option>
              </select>
            </div>
            <!-- /.form-group -->
          </div>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
    <!-- /.col (right) -->

    <div class="card-footer">
      <button type="submit" class="btn btn-info">GUARDAR</button>
      <button type="submit" class="btn btn-default float-right">CANCELAR</button>
    </div>
  </section>
</div>

<%+ endSection %>
<!-- -->

<%+ section('scripts') %>
<!-- -->

<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4',
    })

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { placeholder: 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { placeholder: 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date picker
    $('#reservationdate').datetimepicker({
      format: 'L',
    })

    //Date picker
    $('#reservationdateD').datetimepicker({
      format: 'L',
    })

    //Date and time picker
    $('#reservationdatetime').datetimepicker({ icons: { time: 'far fa-clock' } })

    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({
      timePicker: true,
      timePickerIncrement: 30,
      locale: {
        format: 'MM/DD/YYYY hh:mm A',
      },
    })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges: {
          Today: [moment(), moment()],
          Yesterday: [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [
            moment().subtract(1, 'month').startOf('month'),
            moment().subtract(1, 'month').endOf('month'),
          ],
        },
        startDate: moment().subtract(29, 'days'),
        endDate: moment(),
      },
      function (start, end) {
        $('#reportrange span').html(
          start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY')
        )
      }
    )

    //Timepicker
    $('#timepicker').datetimepicker({
      format: 'LT',
    })

    //Bootstrap Duallistbox
    $('.duallistbox').bootstrapDualListbox()

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    $('.my-colorpicker2').on('colorpickerChange', function (event) {
      $('.my-colorpicker2 .fa-square').css('color', event.color.toString())
    })

    $('input[data-bootstrap-switch]').each(function () {
      $(this).bootstrapSwitch('state', $(this).prop('checked'))
    })
  })
  // BS-Stepper Init
  document.addEventListener('DOMContentLoaded', function () {
    window.stepper = new Stepper(document.querySelector('.bs-stepper'))
  })

  // DropzoneJS Demo Code Start
  Dropzone.autoDiscover = false

  // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
  var previewNode = document.querySelector('#template')
  previewNode.id = ''
  var previewTemplate = previewNode.parentNode.innerHTML
  previewNode.parentNode.removeChild(previewNode)

  var myDropzone = new Dropzone(document.body, {
    // Make the whole body a dropzone
    url: '/target-url', // Set the url
    thumbnailWidth: 80,
    thumbnailHeight: 80,
    parallelUploads: 20,
    previewTemplate: previewTemplate,
    autoQueue: false, // Make sure the files aren't queued until manually added
    previewsContainer: '#previews', // Define the container to display the previews
    clickable: '.fileinput-button', // Define the element that should be used as click trigger to select files.
  })

  myDropzone.on('addedfile', function (file) {
    // Hookup the start button
    file.previewElement.querySelector('.start').onclick = function () {
      myDropzone.enqueueFile(file)
    }
  })

  // Update the total progress bar
  myDropzone.on('totaluploadprogress', function (progress) {
    document.querySelector('#total-progress .progress-bar').style.width = progress + '%'
  })

  myDropzone.on('sending', function (file) {
    // Show the total progress bar when upload starts
    document.querySelector('#total-progress').style.opacity = '1'
    // And disable the start button
    file.previewElement.querySelector('.start').setAttribute('disabled', 'disabled')
  })

  // Hide the total progress bar when nothing's uploading anymore
  myDropzone.on('queuecomplete', function (progress) {
    document.querySelector('#total-progress').style.opacity = '0'
  })

  // Setup the buttons for all transfers
  // The "add files" button doesn't need to be setup because the config
  // `clickable` has already been specified.
  document.querySelector('#actions .start').onclick = function () {
    myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED))
  }
  document.querySelector('#actions .cancel').onclick = function () {
    myDropzone.removeAllFiles(true)
  }
  // DropzoneJS Demo Code End
</script>

<%+ endSection %>
