<% if (disponibilidad == 1 || disponibilidad == true) { %>
<!-- -->
<a href="#<%= codigo_propiedad %>" class="btn btn-success">Disponible</a>
<!-- -->
<% } else { %>
<!-- -->
<a href="#<%= codigo_propiedad %>" class="btn btn-danger">No Disponible</a>
<!-- -->
<% } %>
