<%+ extend('layouts/index') %>
<!-- -->

<%+ section('sidebar-menu') %>
<!-- -->

  <li class="nav-item">
    <a href="#" class="nav-link">
      <i class="nav-icon fas fa-users"></i>
      <p>
        Clientes
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="fas fa-user-plus nav-icon"></i>
          <p>
            Nuevo Cliente
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="../customers/create-corporate" class="nav-link">
              <i class="fas fa-user-tie nav-icon"></i>
              <p>Corporativo</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="../customers/create-private" class="nav-link">
              <i class="fas fa-user-alt nav-icon"></i>
              <p>Particular</p>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="nav-item menu-open">
    <a href="#" class="nav-link">
      <i class="fas fa-calendar nav-icon"></i>
      <p>
        Agenda
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="./create" class="nav-link">
          <i class="fas fa-calendar-plus nav-icon"></i>
          <p>Agendar Cita</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link active">
          <i class="fas fa-calendar-alt nav-icon"></i>
          <p>Mostrar Agenda</p>
        </a>
      </li>
    </ul>
  </li>

<%+ endSection %>
<!-- -->

<%+ section('body') %>
<!-- -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Actividades (Fecha)</h1>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <!--COLLAPSE accordion-->
      <!--ACTIVIDAD 1-->
      <div class="container-fluid">
      <!--header para buscador por fecha y hs-->
      <div class="card-header">
        <label>Actividades</label>
        <input name="fecha_hs" type="date">
        <button type="button" name="buscar" class="btn btn btn-primary">BUSCAR</button>
      </div>
      <!-- /.card-header -->
      <!--header para buscador por fecha y hs-->
        <div class="row">
          <div class="col-12">
            <!-- Default box -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Actividad 1</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Motivo</th>
                    <th>Estado</th>
                    <th>Fecha y Hora</th>
                    <th>Nombre y Apellido (AGENTE)</th>
                    <th>Nombre y Apellido (CLIENTE)</th>
                    <th>Razón Social</th>
                    <th>Propiedad (CODIGO)</th>
                    <th>Teléfono</th>
                    <th>Ubicación</th>
                    <th>Dirección</th>
                    <th>Descripción</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <!--FECHA DE LA ACTIVIDAD O CITA-->
                    <td>
                      <!--LABEL DE FECHA TIPO TEXTO-->
                      <!-- <label name="fecha_hs" type="text">30/11/2022</label> -->
                      <!--LABEL DE FECHA TIPO TEXTO-->
                      <!--MÁSCARA DE FECHA FORMATO: Date dd/mm/yyyy-->
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                          </div>
                          <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                        </div>
                        <!-- /.input group -->
                      </div>
                      <!-- /.form group -->
                      <!--MÁSCARA DE FECHA FORMATO: Date dd/mm/yyyy-->
                      <!-- FORMATO CALENDARIO Date and time -->
                      <!-- <div class="form-group">
                          <div class="input-group date" id="reservationdatetime" data-target-input="nearest">
                              <input type="text" class="form-control datetimepicker-input" data-target="#reservationdatetime"/>
                              <div class="input-group-append" data-target="#reservationdatetime" data-toggle="datetimepicker">
                                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                              </div>
                          </div>
                      </div> -->
                      <!-- /.form group -->
                      <!-- FORMATO CALENDARIO Date and time -->
                    </td>
                    <!--AGENTE-->
                    <td>
                      <!-- <label name="nombre_apellido">Luciano</label> -->
                      <!-- /.form-group -->
                      <div class="form-group">
                        <select class="form-control select2" style="width: 100%;">
                          <option selected="selected">Diego Vega</option>
                          <option disabled="disabled">Ramiro Castillo(disabled)</option>
                        </select>
                      </div>
                      <!-- /.form-group -->
                    </td>
                    <td>
                      <!-- text input CODIGO PROPIEDAD-->
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter ...">
                      </div>
                    </td>
                    <!--ESTADO DE LA ACTIVIDAD / CITA-->
                    <td>
                      <div class="form-group">
                        <select class="form-control select2" style="width: 100%;">
                          <option selected="selected">En Proceso</option>
                          <option disabled="disabled">Finalizado(disabled)</option>
                        </select>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <!--BOTON EDITAR DATOS DE LA CITA-->
                <button type="button" name="editar" style="width: 150px; margin-top: 5px;" 
                class="btn btn btn-warning">EDITAR</button>
                <!--BOTON ELIMINAR CITA-->
                <button type="button" name="eliminar" style="width: 150px; margin-top: 5px;" 
                class="btn btn btn-danger">ELIMINAR</button>
                <!--CONTROL MODAL DE ELIMINAR (POR SI HACE FALTA)-->
                <!-- <button type="button" name="eliminar" class="btn btn-danger" style="width: 150px; margin-top: 5px;" data-toggle="modal" data-target="#modal-danger">
                  ELIMINAR
                </button> -->
                <!-- /.content -->
              </div>
              <!-- /.content-wrapper -->
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            
            
      <!--ACTIVIDAD 2-->
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <!-- Default box -->
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Actividad 2</h3>
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                          <i class="fas fa-minus"></i>
                        </button>
                      </div>
                    </div>
                    <div class="card-body">
                      <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                          <th>Fecha y Hora</th>
                          <th>Nombre y Apellido (AGENTE)</th>
                          <th>Propiedad(CODIGO)</th>
                          <th>Estado</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <!--FECHA DE LA ACTIVIDAD O CITA-->
                          <td>
                            <!--LABEL DE FECHA TIPO TEXTO-->
                            <!-- <label name="fecha_hs" type="text">30/11/2022</label> -->
                            <!--LABEL DE FECHA TIPO TEXTO-->
                            <!--MÁSCARA DE FECHA FORMATO: Date dd/mm/yyyy-->
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                              </div>
                              <!-- /.input group -->
                            </div>
                            <!-- /.form group -->
                            <!--MÁSCARA DE FECHA FORMATO: Date dd/mm/yyyy-->
                            <!-- FORMATO CALENDARIO Date and time -->
                            <!-- <div class="form-group">
                                <div class="input-group date" id="reservationdatetime" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" data-target="#reservationdatetime"/>
                                    <div class="input-group-append" data-target="#reservationdatetime" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- /.form group -->
                            <!-- FORMATO CALENDARIO Date and time -->
                          </td>
                          <!--AGENTE-->
                          <td>
                            <!-- <label name="nombre_apellido">Luciano</label> -->
                            <!-- /.form-group -->
                            <div class="form-group">
                              <select class="form-control select2" style="width: 100%;">
                                <option selected="selected">Diego Vega</option>
                                <option disabled="disabled">Ramiro Castillo(disabled)</option>
                              </select>
                            </div>
                            <!-- /.form-group -->
                          </td>
                          <td>
                            <!-- text input CODIGO PROPIEDAD-->
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Enter ...">
                            </div>
                          </td>
                          <!--ESTADO DE LA ACTIVIDAD / CITA-->
                          <td>
                            <div class="form-group">
                              <select class="form-control select2" style="width: 100%;">
                                <option selected="selected">En Proceso</option>
                                <option disabled="disabled">Finalizado(disabled)</option>
                              </select>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                      <button type="button" name="editar" style="width: 150px; margin-top: 5px;" class="btn btn btn-warning">EDITAR</button>
                      <button type="button" name="eliminar" style="width: 150px; margin-top: 5px;" class="btn btn btn-danger">ELIMINAR</button>
                      <!--CONTROL MODAL DE ELIMINAR (POR SI HACE FALTA)-->
                      <!-- <button type="button" name="eliminar" class="btn btn-danger" style="width: 150px; margin-top: 5px;" data-toggle="modal" data-target="#modal-danger">
                        ELIMINAR
                      </button> -->
                    </div>
                  <!-- /.card-body -->
                          
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                  <!--ACTIVIDAD 2-->
      
              
      <!--COLLAPSE accordion-->
    </section>
    <!-- /.content -->
  </div>
      
<%+ endSection %>
