<%+ extend('layouts/index') %>
<!-- -->

<%+ section('sidebar-menu') %>
<!-- -->

  <li class="nav-item menu-open">
    <a href="#" class="nav-link">
      <i class="nav-icon fas fa-users"></i>
      <p>
        Clientes
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item menu-open">
        <a href="#" class="nav-link">
          <i class="fas fa-user-plus nav-icon"></i>
          <p>
            Nuevo Cliente
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="./cliente_Corporativo.html" class="nav-link active">
              <i class="fas fa-user-tie nav-icon"></i>
              <p>Corporativo</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="./cliente_Particular.html" class="nav-link">
              <i class="fas fa-user-alt nav-icon"></i>
              <p>Particular</p>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link">
      <i class="fas fa-calendar nav-icon"></i>
      <p>
        Agenda
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="./cita.html" class="nav-link">
          <i class="fas fa-calendar-plus nav-icon"></i>
          <p>Agendar Cita</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="./index3.html" class="nav-link">
          <i class="fas fa-calendar-alt nav-icon"></i>
          <p>Mostrar Agenda</p>
        </a>
      </li>
    </ul>
  </li>

<%+ endSection %>
<!-- -->

<%+ section('body') %>
<!-- -->

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Nuevo Cliente Corporativo</h1>
        </div>
        <!-- /.col -->
        <!--div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="#">Seccion</a></li>
                      <li class="breadcrumb-item active">Seccion</li>
                    </ol>
                  </div-->
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->

  <section class="content">
    <div class="container-fluid">
      <!-- SELECT2 EXAMPLE -->
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Datos del cliente</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputNombreAp">Razón:</label>
                <input
                  type="text"
                  id="inputNombreAp"
                  class="form-control"
                  name="razon_social"
                  required
                />
              </div>
              <div class="form-group">
                <label for="inputCuil">CUIT:</label>
                <input
                  type="text"
                  id="inputCuil"
                  class="form-control"
                  data-inputmask='"mask": "99-99.999.999-99"'
                  data-mask
                  name="cuil_cuit"
                  required
                />
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Correo electronico</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  placeholder="Enter email"
                  name="correo_electronico"
                  required
                />
              </div>
              <div class="form-group">
                <label for="inputDire">Dirección:</label>
                <input type="text" id="inputDire" class="form-control" name="direccion" required/>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputNombreAp">Nombre y Apellido:</label>
                <input
                  type="text"
                  id="inputNombreAp"
                  class="form-control"
                  name="nombre_apellido"
                />
              </div>
              <div class="form-group">
                <label>Fecha Nacimiento:</label>
                <div class="input-group date" id="reservationdate" data-target-input="nearest">
                  <input
                    type="text"
                    class="form-control datetimepicker-input"
                    data-target="#reservationdate"
                    name="fecha_nacimiento"
                  />
                  <div
                    class="input-group-append"
                    data-target="#reservationdate"
                    data-toggle="datetimepicker"
                  >
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
              <label>Teléfono:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-phone"></i></span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  data-inputmask='"mask": "(999) 999-999"'
                  data-mask
                  name="telefono"
                  required
                />
              </div>
            </div>
            <!-- /.col -->
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Documentación</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div id="actions" class="row">
              <div class="col-lg-6">
                <div class="btn-group w-100">
                  <span class="btn btn-success col fileinput-button">
                    <i class="fas fa-plus"></i>
                    <span>Cargar Archivos</span>
                  </span>
                  <button type="submit" class="btn btn-primary col start">
                    <i class="fas fa-upload"></i>
                    <span>Start upload</span>
                  </button>
                  <button type="reset" class="btn btn-warning col cancel">
                    <i class="fas fa-times-circle"></i>
                    <span>Cancel upload</span>
                  </button>
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center">
                <div class="fileupload-process w-100">
                  <div
                    id="total-progress"
                    class="progress progress-striped active"
                    role="progressbar"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    aria-valuenow="0"
                  >
                    <div
                      class="progress-bar progress-bar-success"
                      style="width: 0%"
                      data-dz-uploadprogress
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="table table-striped files" id="previews">
              <div id="template" class="row mt-2">
                <div class="col-auto">
                  <span class="preview"><img src="data:," alt="" data-dz-thumbnail /></span>
                </div>
                <div class="col d-flex align-items-center">
                  <p class="mb-0">
                    <span class="lead" data-dz-name></span>
                    (<span data-dz-size></span>)
                  </p>
                  <strong class="error text-danger" data-dz-errormessage></strong>
                </div>
                <div class="col-4 d-flex align-items-center">
                  <div
                    class="progress progress-striped active w-100"
                    role="progressbar"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    aria-valuenow="0"
                  >
                    <div
                      class="progress-bar progress-bar-success"
                      style="width: 0%"
                      data-dz-uploadprogress
                    ></div>
                  </div>
                </div>
                <div class="col-auto d-flex align-items-center">
                  <div class="btn-group">
                    <button class="btn btn-primary start">
                      <i class="fas fa-upload"></i>
                      <span>Start</span>
                    </button>
                    <button data-dz-remove class="btn btn-warning cancel">
                      <i class="fas fa-times-circle"></i>
                      <span>Cancel</span>
                    </button>
                    <button data-dz-remove class="btn btn-danger delete">
                      <i class="fas fa-trash"></i>
                      <span>Delete</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="inputDescription">Descripción</label>
              <textarea id="inputDescription" class="form-control" rows="4"></textarea>
            </div>
            <br />
          </div>
          <br />
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-info">GUARDAR</button>
          <button type="submit" class="btn btn-default float-right">CANCELAR</button>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </section>
</div>

<%+ endSection %>
